<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-fluid" style="max-height: 50vh">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!--<div class="dropdown" appDropdownDirective>-->
      <div class="dropdown btn-group" appDropdownDirective>
        <button type="button" class="btn btn-primary dropdown-toggle" >Manage Recipe</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" style="cursor: pointer;" type="button" (click)="addIngredientToSL()">To Shopping
            List</button>
          <button class="dropdown-item" style="cursor: pointer;" type="button" (click)="onEditRecipe()">Edit
            Recipe</button>
          <button class="dropdown-item" style="cursor: pointer;" type="button">Delete Recipe</button>
        </div>
        <!--<ul class="dropdown-menu">-->
        <!--<li class="dropdown-item" (click)="addIngredientToSL()">To Shopping List</li>-->
        <!--<li class="dropdown-item"><a >Edit Recipe</a></li>-->
        <!--<li class="dropdown-item"><a >Delete Recipe</a></li>-->
        <!--</ul>-->
      </div>
    <!--</div>-->
  </div>
</div>
<div class="row">
  <div class="col-12">{{recipe.description}}</div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
