<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-fluid" style="max-height: 50vh">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <!--<div class="dropdown" appDropdownDirective>-->
      <div class="dropdown btn-group" appDropdownDirective>
        <button type="button" class="btn btn-primary dropdown-toggle" >Manage Recipe</button>
        <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#" (click)="addIngredientToSL()">To Shopping List</a></li>
        <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
        </ul>
      </div>
    <!--</div>-->
  </div>
</div>
<div class="row">
  <div class="col-12">{{recipe.description}}</div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
